body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    padding: 50px;
}

button {
    background-color: #FF9C27B0;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #d11da1;
}

.card {
    border: 2px solid #FFFFFF;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a1a1a;
}
